<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create a New Player</h1>
                <% if (message != '') { %>
                    <p class="text-center text-danger"><%= message %></p>
                <% } %>
                <div style="width: 30%; margin: 25px auto;">
                <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group">
                            <input class="form-control" type="text" name="position_name" placeholder="position">
                        </div>
                        <div class="form-group">
                            <label>
                            Region: 
                                <select id= "lane" name="lane" class="form-control">
                                    <option>Top</option>
                                    <option>Jungle</option>
                                    <option>Middle</option>
                                    <option>Bottom</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                AD 
                                <input class="form-control" type="radio" name="position_type" value="AD">
                            </label>
                            <label>
                                AP
                                <input class="form-control" type="radio" name="position_type" value="AP">
                            </label>
                            <label>
                                Mixed
                                <input class="form-control" type="radio" name="position_type" value="Mixed">
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Edit Position</button>
                </form>
            </div>
</div>
</body>
</html>
