<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (player) { %>
        <div style="width: 30%; margin: 25px auto;">
                <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group">
                            <input class="form-control" type="text" name="gamertag" placeholder="gamertag">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="fname" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="lname" placeholder="last name">
                         </div>
                         <div class="form-group">
                            <input class="form-control" type="text" name="team" placeholder="team name">
                        </div>
                        <div class="form-group">
                            <label>
                            Region: 
                                <select id= "region" name="region" class="form-control">
                                    <option>NA</option>
                                    <option>EU</option>
                                    <option>KR</option>
                                    <option>CN</option>
                                    <option>BR</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                            Position: 
                                <select id= "position" name="position" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Edit Player</button>
                </form>
    <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/players/add">here</a> to add players.</p>
    <% } %>
</div>
</div>
</body>
</html>